{% extends 'flatpages/default.html' %}

{% block content %}
<h1 xmlns="http://www.w3.org/1999/html">Удаление новости: {{ object.title }}</h1>
<hr>
<dialog open>
   <div>
            <form action="" method="post">
                {% csrf_token %}
                <p>Удаляем "{{ object.title }}"?</p>
                <p><input type="submit" value="Удалить" /></p>
            </form>

                <button onclick="window.location='http://127.0.0.1:8000/news/'">Отменить</button>
   </div>
</dialog>
{% endblock content %}