{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет Product -->
{% block title %}
News
{% endblock title %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<!--<h1>{{ news }}</h1>-->
   <h1> Новостей: {{ news|length }}</h1>
<!--   <h3>{{ time_now|date:'M d Y' }}</h3>-->
   <!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->
<!--   <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }} </h3>-->

    {# Теперь будем проверять не request.user.is_authenticated, а конкретные права #}
    {% if perms.simpleapp.add_news %}
    <a href="{% url 'news_create' %}">Добавить новость</a>
    {% endif %}

   <hr>
   {% if news %}




           {% for new in news|dictsort:"dateCreation" %}
           <table>
                 <tr>
                    <td>
                     <p>
                       <span>{{ new.dateCreation|date:'d M Y' }}</span>
                       <strong>{{ new.title|censor }}&nbsp;</strong></p>
                    </td>
                     <td><p><em>{{ new.text|censor|truncatechars:20}}</em></p></td>

                    <td>
                        {# А здесь доступ для каждой ссылки теперь будем проверять отдельно #}
                        {% if perms.simpleapp.change_news %}
                        <a href="{% url 'news_update' pk=new.id %}">Изменить</a>
                        {% endif %}
                        {% if perms.simpleapp.delete_news %}
                        <a href="{% url 'news_delete' pk=new.id %}">Удалить</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
           {% endfor %}

   {% else %}
       <h2>Новостей нет, но вы держитесь!</h2>
   {% endif %}
    {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}