{% extends 'flatpages/default.html' %}
{% load custom_filters %}
<!-- Название у нас будет Product -->

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
<!--<h1>{{ news }}</h1>-->
   <h1> {{ news.title|censor }} </h1>
<!--   <h3>{{ time_now|date:'M d Y' }}</h3>-->
   <!-- Если в переменной next_sale будет None,
   то выведется указанный в фильтре текст -->
<!--   <h3> {{ next_sale|default_if_none:"Чуть позже сообщим о распродаже!" }} </h3>-->

   <hr>
   {% if news %}

<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
        <h1>{{ news.text|censor }}</h1>

        <h2>{{news.dateCreation|date:'d M Y'}}</h2>


   {% else %}
       <h2>Новостей нет, но вы держитесь!</h2>
   {% endif %}


{% endblock content %}